/* ------- customize primary button color -------- */   
.btn {
  background-color: white;
  color: black;
  border-color: black;
  transition: all .7s;
}
.btn:hover {
  color: #77b0ed;
  background-color: #fff;
  border-color: black;
}