/*-- scss:defaults --*/

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

// Base document colors
$body-bg: #181818;
$body-color: white;
$navbar-bg: #212121;

// Code blocks
$code-block-bg-alpha: -.8;

// Button customs
$btn-link-hover-color: green;